<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">ToDoアプリ</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <h1>ToDoアプリ</h1>
    <hr/>
</header>

<main th:replace="${content}">
    <!-- 各ページの本文 -->
</main>

<div th:replace="~{fragments/message :: message}"></div>
<footer>
    <hr/>
    <p>&copy; 2025 ToDo App</p>
</footer>
</body>
</html>
